.game-container {
  display: grid;
  place-items: center;
}

.fight-board {
  background-color: rgb(0, 0, 0);
  border: 2px solid #000000;
  box-sizing: border-box;
  width: 693px;
  height: 693px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 2px;
}

.rest-board {
  width: 1386px;
  height: 77px;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}

.plane {
  background-color: rgb(248, 185, 67);
  width: 100%;
  height: 100%;
  display: flex; /* 中身を自由に並べるモードにする */
  justify-content: center; /* 横方向の真ん中 */
  align-items: center; /* 縦方向の真ん中 */
}

.hand {
  background-color: rgb(156, 113, 48);
  width: 100%;
  height: 100%;
  display: flex; /* 中身を自由に並べるモードにする */
  justify-content: center; /* 横方向の真ん中 */
  align-items: center; /* 縦方向の真ん中 */
}

.move {
  background-color: rgb(255, 217, 147);
  width: 100%;
  height: 100%;
  display: flex; /* 中身を自由に並べるモードにする */
  justify-content: center; /* 横方向の真ん中 */
  align-items: center; /* 縦方向の真ん中 */
}

.piece {
  width: 90%;
  height: 90%;
  object-fit: contain;
  pointer-events: none; /* 画像を無視して、下のマス目を触るようにする */
}

.piece-motigoma {
  width: 10%;
  height: 90%;
}

body {
  margin: 0; /* ブラウザ特有の余白を消す */
  display: flex; /* レイアウトモードをフレックスに変更 */
  justify-content: center; /* 横方向の真ん中 */
  align-items: center; /* 縦方向の真ん中 */
  min-height: 100vh; /* 画面の高さ（View Height）100%分を確保 */
  background-color: #a8a8a8; /* 背景を少しグレーにすると盤が目立つ */
}

.shade {
  background-color: rgb(248, 185, 67);
  border: 1px solid #000000;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex; /* 中身を自由に並べるモードにする */
  justify-content: center; /* 横方向の真ん中 */
  align-items: center; /* 縦方向の真ん中 */
}
