body {
    text-align: center;
    font-family: sans-serif;
}

.area {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#board {
    display: grid;
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(9, 60px);
}

.cell {
    border: 1px solid black;
    background: #f0c987;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell img {
    width: 50px;
}

.selected { background: orange; }
.move { background: lightgreen; }

.hand {
    min-width: 120px;
    min-height: 100px;
    border: 1px solid black;
}

.hand img {
    width: 40px;
    cursor: pointer;
}